body {
    margin: 0;

}

form {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 2px solid blue;
    
}

form h2 {
    text-align: center;
    padding: 10px 10px;
}

#resultat {
    text-align: center;
}

.button_container {
    text-align: center;
    margin-bottom: 20px;
}

.div_container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px;
    gap: 10px;
}