body {
    margin: 0;
}

main {
    display: inline-block;
}

h2 {
    text-align: center;
}

.form_class {
    margin-left: 10rem;
    border: 2px solid blue;
    display: grid;
    padding: 30px;
}

.resultat {
    padding-top: 10px;
    padding-bottom: 10px;
}


.btn-div {
 padding: 20px 20px;   
}

label {
    padding-top: 15px;
}